


#furtado{
     background: url(https://fbcdn-sphotos-f-a.akamaihd.net/hphotos-ak-xap1/v/t1.0-9/10698495_783261675054214_4636574849256341240_n.jpg?oh=60251a2bc561f24474a4aa6ec4f0dfe3&oe=557DC664&__gda__=1435309752_5f29734b3e645a73eaf05005c95cd1aa);
  background-size: cover;
}

#sudhakar {
  background: url(https://fbcdn-sphotos-g-a.akamaihd.net/hphotos-ak-xfp1/v/t1.0-9/1422590_746538792033007_8073634040874204233_n.jpg?oh=a8df7304caabc46c1c217d9b67a766f6&oe=557B5790&__gda__=1434974219_d5e68cb3c357ae70f39197d18da03065);
  background-size: cover;
}

#verma {
  background: url(https://i.imgur.com/ooqLmaL.jpg?1);
  background-size:cover;
}